<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bangkok.cityPlace.mapper.CityPlaceMapper">

<!-- 1-1. list -->
<select id="cityList" resultType="com.bangkok.cityPlace.vo.CityVO">
	select ct.cityNum, ct.cityName, ct.cityImg, c.countryKor
	from city ct, country c
	where
	<include refid="citySearch" />
	ct.countryCode = c.countryCode
</select>

<!-- 1-2. list search -->
<sql id="citySearch">
	<if test="word != null and word !=''.toString()">
		(
		<trim prefixOverrides="or">
			<if test="key.indexOf('ct') >= 0">
				or city like '%' || #{word} || '%'
			</if>
			<if test="key.indexOf('c') >= 0">
				or country like '%' || #{word} || '%'
			</if>
		</trim>
		) and
	</if>
</sql>

<select id="placeList" resultType="com.bangkok.info.vo.InfoVO">
    select no, title, writer, cityname, Place, countrycode, writeDate, imageFile
    from (
        select rownum rnum, no, title, writer, cityname, Place, countrycode, writeDate, imageFile
        from (
            select ti.no, ti.title, ti.writer, c.cityname, ti.Place, c.countrycode, ti.writeDate,
			       ti.imageFile
			from tripInfo ti, city c
			where ti.cityNum = #{cityNum}
			    and ti.cityNum = c.cityNum
            <include refid="PlaceSearch"/>
            order by ti.no asc
        )
    )
    where rnum between #{pageObject.startRow} and #{pageObject.endRow}
</select>

<sql id="PlaceSearch">
    <if test="pageObject.word != null and pageObject.word != ''.toString()">
        where
        <trim prefixOverrides="or">
            <if test="key.indexOf('t') >= 0">
                or title like '%' || #{pageObject.word} || '%'
            </if>
            <if test="key.indexOf('c') >= 0">
                or content like '%' || #{pageObject.word} || '%'
            </if>
        </trim>
    </if>
</sql>

</mapper>